<div class="title"><h1>Dog Walkers</h1></div>

<button id="mainButton" type="button" class="btn btn-outline-secondary"><a id="mainButton" href="/signup">new dog walker</a></button>
<button id="mainButton" type="button" class="btn btn-outline-secondary"><a id="mainButton" href="/profile">view dog walkers</a></button>
