<br>
<div class="card col-md-6">
    <div class="card-header">
        <i class="fas fa-dog"></i> D O G O | Dog-walker Sign Up

    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-md-12">
                <form id="user-sign-up">

                    <div class="col-md-12 mb-3">
                        <label for="validationServer01">First name</label>
                        <input type="text" class="form-control is-valid" id="validationServer01"
                            placeholder="First name" value="Mark" required>
                        <div class="valid-feedback">

                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="validationServer02">Last name</label>
                        <input type="text" class="form-control is-valid" id="validationServer02" placeholder="Last name"
                            value="Otto" required>
                        <div class="valid-feedback">

                        </div>
                    </div>

                    <div class="col-md-12 mb-3">
                        <label for="validationServer03">Address: </label>
                        <input type="text" class="form-control is-valid" id="validationServer03" placeholder="Address"
                            required>
                        <div class="valid-feedback"></div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="validationServer04">City: </label>
                        <input type="text" class="form-control is-valid" id="validationServer03" placeholder="City"
                            required>
                        <div class="valid-feedback"></div>
                    </div>

                    <div class="col-md-12 mb-3">
                        <label for="validationServer05">State: </label>
                        <input type="text" class="form-control is-valid" id="validationServer04" placeholder="State"
                            required>
                        <div class="valid-feedback"></div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="validationServer06">Zip: </label>
                        <input type="text" class="form-control is-valid" id="validationServer05" placeholder="Zip"
                            required>
                        <div class="valid-feedback"></div>
                    </div>
                    <div class="col-md-12 mb-3"></div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp"
                            placeholder="Enter email">
                    </div>
                    <div class="col-md-12 mb-3"></div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control" id="password"
                            placeholder="Password">
                    </div>

            </div>

        </div>

        <br>
        <button type="submit" class="btn btn-primary" class="w-100">Submit</button>
        </form>
    </div>
</div>