<br>
<div class="card col-md-12">
    <div class="card-header">
        <i class="fas fa-dog"></i> D O G O | Dog-walker Sign Up

    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-md-12">
                <form id="user-sign-up">

                    <div class="col-md-6 mb-3">
                        <label for="validationServer01">First name</label>
                        <input type="name" class="form-control" id="name"
                            placeholder="First name" value="First Name" required>
                        <div class="valid-feedback">

                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationServer02">Last name</label>
                        <input type="lastName" class="form-control" id="lastName" placeholder="Last name"
                            value="Last Name" required>
                        <div class="valid-feedback">

                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="validationServer03">Address: </label>
                        <input type="address" class="form-control" id="address" placeholder="Address"
                            required>
                        <div class="valid-feedback"></div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationServer04">City: </label>
                        <input type="city" class="form-control" id="city" placeholder="City"
                            required>
                        <div class="valid-feedback"></div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="validationServer05">State: </label>
                        <input type="state" class="form-control" id="state" placeholder="State"
                            required>
                        <div class="valid-feedback"></div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationServer06">Zip: </label>
                        <input type="zip" class="form-control" id="zip" placeholder="Zip"
                            required>
                        <div class="valid-feedback"></div>
                    </div>
                    <div class="col-md-6 mb-3"></div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp"
                            placeholder="Enter email">
                    </div>
                    <div class="col-md-6 mb-3"></div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control" id="password"
                            placeholder="Password">
                    </div>

            </div>

        </div>

        <br>
        <button type="submit" id="user-sign-up" class="btn btn-primary" class="w-100">Submit</button>
        </form>
       


        
    </div>

</div>
  <h1>Hello {{user.email}}!</h1>
    <form class="clearfix mb-4" action="POST">
      <div class="form-group">
        <label for="example-text">Example Text</label>
        <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
      </div>
      <div class="form-group">
        <label for="example-description">Example Description</label>
        <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea> 
      </div>
      <button id="submit" class="btn btn-primary float-right">SUBMIT</button>
    </form>  